* {
  box-sizing: border-box;
}
body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  background-color: #eee;
}
:root {
  --primary-color: #f44336;
}
h1 {
  text-align: center;
  padding: 20px;
  margin: 0 0 50px;
  background-color: white;
}
.guess-game {
  text-align: center;
  width: 1000px;
  margin: 20px auto;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  .game-area {
    .inputs > div {
      margin-bottom: 20px;
      display: flex;
      justify-content: center;
      align-items: center;
      span {
        font-size: 30px;
        font-weight: bold;
        margin-right: 15px;
      }
    }
    .control {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 500px;
      margin: 30px auto;
      gap: 10px;
      .check-word {
        background-color: var(--primary-color);
        flex: 1;
      }
      .hint {
        background-color: #009688;
        width: fit-content;
      }
      button {
        border: none;
        font-size: 25px;
        padding: 15px 20px;
        border-radius: 6px;
        color: white;
        cursor: pointer;
        font-weight: bold;
      }
      button:disabled {
        background-color: black;
        opacity: 0.4;
        cursor: no-drop;
      }
    }
    .disabled-inputs {
      opacity: 0.5;
      pointer-events: none;
    }
    input {
      margin: 0 5px;
      width: 60px;
      height: 60px;
      text-align: center;
      font-size: 50px;
      caret-color: var(--primary-color);
      background-color: white;
      border: none;
      border-bottom: 3px solid #333;
      &:focus {
        outline-color: #ccc;
      }
      &.in-place {
        background-color: #f89e13;
        border: #f89e13;
        color: white;
      }
      &.not-in-place {
        background-color: #18ba89;
        border: #18ba89;
        color: white;
      }
      &.wrong {
        background-color: #27303f;
        border: #27303f;
        color: white;
      }
    }
  }
  .key-color {
    background-color: white;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    padding: 15px 20px;
    .key {
      width: 20px;
      height: 20px;
      margin-right: 8px;
      &.in-place {
        background-color: #f89e13;
      }
      &.not-in-place {
        background-color: #18ba89;
      }
      &.wrong {
        background-color: #27303f;
      }
    }
    .key-text {
      font-weight: bold;
      font-size: 20px;
    }
  }
}
.message {
  text-align: center;
  font-weight: bold;
  font-size: 30px;
  margin-top: 100px;
  span {
    font-weight: bold;
    display: block;
    font-size: 50px;
    color: var(--primary-color);
    text-transform: capitalize;
    margin-top: 10px;
    margin-bottom: 50px;
  }
  p {
    margin-top: 15px;
  }
}
footer {
  text-align: center;
  padding: 20px;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #333;
  color: white;
}
